<a href="https://colab.research.google.com/github/Mallowsss/CCDATSCL_EXERCISES/blob/main/exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [2]:
# put your answer here
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [3]:
# put your answer here
df.columns.to_list()

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Display the dataframe shape:

In [4]:
# put your answer here
df.shape

(48895, 16)

Identify the numerical features:

In [5]:
# put your answer here
num_features = df.select_dtypes(include=['number']).columns.tolist()
num_features

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [6]:
# put your answer here
cat_features = df.select_dtypes(include=['object']).columns.tolist()
cat_features

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

In [7]:
# put your answer here
#1 Which neighborhoods have the highest average number of reviews? (to know which areas have the strongest guest activity & demand)

#2 What room type is the most common in each neighborhood group? (to see distribution of each type of rooms per area)

#3 Which room type receives the most reviews on average? (to know which room type attracts more guests)

#4 Do hosts with more listings charge higher prices on average? (to see if big hosts price differently than small/one-listing hosts)

#5 How does minimum stay requirement affect the number of reviews? (to see whether stricter minimum nights reduce booking frequency)

## B. Structuring

Check if the dataset has proper column types

In [8]:
# put your answer here
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [9]:
# put your answer here
print("Index Type:", type(df.index))
print("Is index unique?", df.index.is_unique)
print("Any missing index values?", df.index.hasnans)

Index Type: <class 'pandas.core.indexes.range.RangeIndex'>
Is index unique? True
Any missing index values? False

Check if the dataset has duplicated rows

In [10]:
# put your answer here
duplicate_rows = df.duplicated().sum()
print("Number of duplicated rows:", duplicate_rows)

Number of duplicated rows: 0

Convert columns to correct types (e.g., dates → datetime).

In [11]:
# put your answer here
# ---- 1. Convert to numeric ----
numeric_cols = [
    "id",
    "host_id",
    "latitude",
    "longitude",
    "price",
    "minimum_nights",
    "number_of_reviews",
    "reviews_per_month",
    "calculated_host_listings_count",
    "availability_365"
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")


# ---- 2. Convert to strings (categorical/text) ----
string_cols = [
    "name",
    "host_name",
    "neighbourhood_group",
    "neighbourhood",
    "room_type"
]

for col in string_cols:
    df[col] = df[col].astype("string")


# ---- 3. Convert date columns to datetime ----
date_cols = ["last_review"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")


# ---- Final check ----
print(df.dtypes)

id                                         int64
name                              string[python]
host_id                                    int64
host_name                         string[python]
neighbourhood_group               string[python]
neighbourhood                     string[python]
latitude                                 float64
longitude                                float64
room_type                         string[python]
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [12]:
# put your answer here
# Null values in key cols like price, last_review or reviews_per_month can break analysis.
# To fix this, we ca opt to fill it with values or remove them instead.

## C. Cleaning

Check for missing values

In [13]:
# put your answer here
print(df.isna().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [14]:
# put your answer here
# IQR for minimum_nights
Q1 = df["minimum_nights"].quantile(0.25)
Q3 = df["minimum_nights"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_min_nights = df[
    (df["minimum_nights"] < lower_bound) |
    (df["minimum_nights"] > upper_bound)
]

print("Outliers in minimum_nights:", len(outliers_min_nights))
print(outliers_min_nights[["minimum_nights"]].head())

Outliers in minimum_nights: 6607
    minimum_nights
6               45
14              90
29              14
36              60
45              29

Check for invalid values (e.g., price ≤ 0)

In [15]:
# put your answer here
invalid_prices = df[df["price"] <= 0]
print("Invalid prices count:", len(invalid_prices))

invalid_min_nights = df[df["minimum_nights"] <= 0]
print("Invalid minimum nights count:", len(invalid_min_nights))

invalid_id = df[df["id"] <= 0]
print("Invalid id count:", len(invalid_id))

invalid_host_id = df[df["host_id"] <= 0]
print("Invalid host id count:", len(invalid_host_id))

invalid_availability = df[df["availability_365"] < 0]
print("Invalid availability count:", len(invalid_availability))

Invalid prices count: 11
Invalid minimum nights count: 0
Invalid id count: 0
Invalid host id count: 0
Invalid availability count: 0

Apply a missing-value strategy (drop, fill, or flag)

In [16]:
# put your answer here
# Fill numeric missing values with median
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill categorical missing values with mode
cat_cols = df.select_dtypes(include=["string", "object"]).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Fill date missing values with earliest date
if "last_review" in df.columns:
    df["last_review"] = df["last_review"].fillna(df["last_review"].min())

# Drop rows where price <= 0
df = df[df["price"] > 0].copy()

# Optional: reset index after dropping rows
df.reset_index(drop=True, inplace=True)

# Check result
print("Remaining rows:", len(df))
print(df["price"].describe())

Remaining rows: 48884
count    48884.000000
mean       152.755053
std        240.170260
min         10.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [17]:
print(df.isna().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Apply an outlier-handling strategy

In [18]:
# put your answer here
df = df[
    (df["minimum_nights"] >= lower_bound) &
    (df["minimum_nights"] <= upper_bound)
]

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [19]:
# put your answer here
# 1. Price per minimum night
df["price_per_minimum_nights"] = df["price"] / df["minimum_nights"].replace(0, 1)

# 2. Review rate per month (combine number_of_reviews and reviews_per_month)
# If reviews_per_month is missing, fill with 0
df["reviews_per_month"] = df["reviews_per_month"].fillna(0)
df["review_rate_per_month"] = df["number_of_reviews"] * df["reviews_per_month"]

# 3. Is expensive flag based on price per night

# 3a. Neighborhood-specific threshold
# A listing is expensive if its price_per_minimum_nights > neighborhood average per-night price
df["avg_price_per_night_neighbourhood"] = df.groupby("neighbourhood")["price_per_minimum_nights"].transform("mean")
df["is_expensive_neighbourhood"] = df["price_per_minimum_nights"] > df["avg_price_per_night_neighbourhood"]

# 3b. Room-type-specific threshold
# Using top 10% per-night price within each room_type
df["price_per_night_threshold_room_type"] = df.groupby("room_type")["price_per_minimum_nights"].transform(lambda x: x.quantile(0.9))
df["is_expensive_room_type"] = df["price_per_minimum_nights"] > df["price_per_night_threshold_room_type"]

# Convert to boolean
df["is_expensive_neighbourhood"] = df["is_expensive_neighbourhood"].astype(bool)
df["is_expensive_room_type"] = df["is_expensive_room_type"].astype(bool)

# Check the new variables
print(df[[
    "price_per_minimum_nights",
    "review_rate_per_month",
    "neighbourhood",
    "avg_price_per_night_neighbourhood",
    "is_expensive_neighbourhood",
    "room_type",
    "price_per_night_threshold_room_type",
    "is_expensive_room_type"
]].head(10))

    price_per_minimum_nights  review_rate_per_month    neighbourhood  \
0                 149.000000                   1.89       Kensington
1                 225.000000                  17.10          Midtown
2                  50.000000                   0.00           Harlem
3                  89.000000                1252.80     Clinton Hill
4                   8.000000                   0.90      East Harlem
5                  66.666667                  43.66      Murray Hill
7                  39.500000                1492.10   Hell's Kitchen
8                  39.500000                 116.82  Upper West Side
9                 150.000000                 212.80        Chinatown
10                 27.000000                  22.79  Upper West Side

    avg_price_per_night_neighbourhood  is_expensive_neighbourhood  \
0                           49.041229                        True
1                          155.287165                        True
2                           62.670202                       False
3                          109.237565                       False
4                           72.107184                       False
5                          128.697638                       False
7                          111.881796                       False
8                          105.520318                       False
9                           88.009838                        True
10                         105.520318                       False

          room_type  price_per_night_threshold_room_type  \
0      Private room                                100.0
1   Entire home/apt                                195.0
2      Private room                                100.0
3   Entire home/apt                                195.0
4   Entire home/apt                                195.0
5   Entire home/apt                                195.0
7      Private room                                100.0
8      Private room                                100.0
9   Entire home/apt                                195.0
10  Entire home/apt                                195.0

    is_expensive_room_type
0                     True
1                     True
2                    False
3                    False
4                    False
5                    False
7                    False
8                    False
9                    False
10                   False

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [20]:
# put your answer here
summary = df.groupby(["neighbourhood_group", "neighbourhood"]).agg(
    average_price=("price", "mean"),
    total_listings=("id", "count"),
    number_of_hosts=("host_id", pd.Series.nunique),
    average_minimum_nights=("minimum_nights", "mean"),
    average_reviews_per_month=("reviews_per_month", "mean")
).reset_index()

# Optional: sort by borough and neighborhood
summary = summary.sort_values(by=["neighbourhood_group", "neighbourhood"])

# Display first rows
print(summary.head())

  neighbourhood_group neighbourhood  average_price  total_listings  \
0               Bronx      Allerton      87.595238              42
1               Bronx    Baychester      75.428571               7
2               Bronx       Belmont      79.304348              23
3               Bronx     Bronxdale      57.105263              19
4               Bronx   Castle Hill      63.000000               9

   number_of_hosts  average_minimum_nights  average_reviews_per_month
0               27                2.214286                   1.701429
1                5                2.428571                   1.994286
2               18                2.217391                   1.735652
3               18                2.894737                   1.727895
4                3                2.333333                   1.176667

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [21]:
# put your answer here
# 1. Price must be positive
invalid_price = df[df["price"] <= 0]
print("Listings with invalid price (<=0):", len(invalid_price))
print(invalid_price[["id", "name", "price"]].head())

# 2. Host ID should not be null
invalid_host = df[df["host_id"].isna()]
print("\nListings with missing host_id:", len(invalid_host))
print(invalid_host[["id", "name", "host_id"]].head())

# 3. Minimum nights must be >= 1
invalid_min_nights = df[df["minimum_nights"] < 1]
print("\nListings with invalid minimum_nights (<1):", len(invalid_min_nights))
print(invalid_min_nights[["id", "name", "minimum_nights"]].head())

# Combine all validation issues into one report
df_validation = pd.DataFrame({
    "invalid_price": df["price"] <= 0,
    "missing_host_id": df["host_id"].isna(),
    "invalid_minimum_nights": df["minimum_nights"] < 1
})

# Count how many issues per listing
df_validation["num_issues"] = df_validation.sum(axis=1)
print("\nListings with any issues:", df_validation["num_issues"].sum())

Listings with invalid price (<=0): 0
Empty DataFrame
Columns: [id, name, price]
Index: []

Listings with missing host_id: 0
Empty DataFrame
Columns: [id, name, host_id]
Index: []

Listings with invalid minimum_nights (<1): 0
Empty DataFrame
Columns: [id, name, minimum_nights]
Index: []

Listings with any issues: 0

## F. Publishing

Select final columns for publication.

In [22]:
# put your answer here
final_cols = [
    "id",
    "name",
    "host_id",
    "host_name",
    "neighbourhood_group",
    "neighbourhood",
    "latitude",
    "longitude",
    "room_type",
    "price",
    "minimum_nights",
    "number_of_reviews",
    "reviews_per_month",
    "calculated_host_listings_count",
    "availability_365",
    "price_per_minimum_nights",
    "review_rate_per_month",
    "is_expensive_neighbourhood",
    "price_per_night_threshold_room_type",
    "is_expensive_room_type"
]

df_final = df[final_cols].copy()

Export cleaned dataset as "cleaned_airbnb.csv"

In [23]:
# put your answer here
df_final.to_csv("cleaned_airbnb.csv", index=False)
print("Cleaned dataset exported as cleaned_airbnb.csv")

Cleaned dataset exported as cleaned_airbnb.csv

Export summary reports (e.g., validation or aggregations) as CSV.

In [24]:
# put your answer here
summary = df.groupby(["neighbourhood_group", "neighbourhood"]).agg(
    average_price=("price", "mean"),
    total_listings=("id", "count"),
    number_of_hosts=("host_id", pd.Series.nunique),
    average_minimum_nights=("minimum_nights", "mean"),
    average_reviews_per_month=("reviews_per_month", "mean")
).reset_index()
summary.to_csv("aggregated_summary.csv", index=False)
print("Aggregated summary exported as aggregated_summary.csv")

Aggregated summary exported as aggregated_summary.csv